@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');

html{
    scroll-behavior: ;
}

body{
    font-family: "Space Grotesk", sans-serif;
}

@keyframes marquee {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.animate-marquee{
    display: flex;
    animation: marquee 15s linear infinite;
}